<% page.category = ' '; %>
<div class="archive-title" >
	<h2 class="category-icon"><%= __('categories') %></h2>
	<%- list_categories({class: 'archive-category'}) %>
</div>
<div id="main" class="archive-part">
	<div class="all-list-box"></div>
</div>

